# Dependencies
node_modules/
frontend/node_modules/

# Build outputs
*.egg-info/

# Python cache & virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Catboost & Temp logs
catboost_info/
.DS_Store
Thumbs.db
*.log
